.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Quick and dirty normalize hax */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #a1a1a1;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.searchInput {
  width: 100%;
  max-width: 20rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: none;
}
.searchInput:focus {
  outline: none;
}
.searchButton {
  background-color: #ffffff;
  border: none;
  height: 2rem;
  width: 2rem;
  margin-left: -1rem;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
}

::placeholder {
  color: #a1a1a1;
}

.searchResults {
  padding: 1rem;
  margin: 1rem auto;
  min-width: 5rem;
  text-align: center;
  color: orange;
  width: 22rem;
}
.searchResults table {
  font-size: 1rem;
}
tr {
  text-align: left;
}
th {
  padding: .25rem .25rem;
}
td {
  padding: .25rem .25rem;
  color: #3b3b3b;
}

